@import "tailwindcss";

.orbit {
  animation: orbit 20s linear infinite;
}

/* Delayed animations */
.orbit-delay-5 {
  animation: orbit 20s linear -5s infinite;
}

.orbit-delay-10 {
  animation: orbit 20s linear -10s infinite;
}

.orbit-delay-15 {
  animation: orbit 20s linear -15s infinite;
}

.orbit-delay-20 {
  animation: orbit 20s linear -20s infinite;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(150px) rotate(-360deg);
  }
}
